@font-face {
    font-family: "abar-Regular";
    src: url('../fonts/Abar/Webfonts/woff/AbarLowFaNum-Regular.woff') format("woff");
}
@font-face {
    font-family: "abar-semibold";
    src: url('../fonts/Abar/Webfonts/woff/AbarHighFaNum-SemiBold.woff') format("woff");
}
@font-face {
    font-family: "abar-Bold";
    src: url('../fonts/Abar/Webfonts/woff/AbarLowFaNum-Bold.woff') format("woff");
}
@font-face {
    font-family: "abar-extraBold";
    src: url('../fonts/Abar/Webfonts/woff/AbarLowFaNum-ExtraBold.woff') format("woff");
}
/*  */
html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "abar-Regular";
    user-select: none;
    background: #E1E0CF;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.cursor{
    cursor: pointer;
}
.outline-none{
    outline: none;
}
.font-600{
    font-family: "abar-semibold";
    font-weight: 600;
}
.font-700{
    font-family: "abar-Bold";
    font-weight: 700;
}
.font-800{
    font-family: "abar-extraBold";
    font-weight: 800;
}
.max-w-295{
    max-width: 295px;
    width: 100%;
}
.max-w-350{
    max-width: 350px;
    width: 100%;
}
.-bottom-41{
    bottom: -41px;
}
.mt-40{
    margin-top: 40px;
}
.mt-80{
    margin-top: 80px;
}
.mt-93{
    margin-top: 93px;
}
input[type="number"] {
    -moz-appearance: textfield;
  }
  .opacity-60{
    opacity: 60%;
}
.opacity-70{
    opacity: 70%;
}
.border-main{
    border: 1px solid #0D446B1A;
}
.border-main2{
    border: 1px solid #1B76A880;
}
.border-second{
    border: 1px solid #939D2D33;
}
.bg-main{
    background-color: #0D446B;
}
.bg-main2{
    background-color: #0D446B1A;
}
.bg-second{
    background-color: #939D2D;
}
.bg-gray{
    background-color: #F8F8F4;
}
.text-main{
    color: #0D446B;
}
.text-main2{
    color: #1B76A8;
}
.rounded-10{
    border-radius: 10px;
}
.rounded-20{
    border-radius: 20px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.w-1-4{
  width: calc(100%/4);
}
.h-4{
    height: 4px;
}
.w-60{
    width: 60px;
}
.h-51{
    height: 51px;
}
.h-60{
    height: 60px;
}
.h-61{
    height: 61px;
}
.h-68{
    height: 68px;
}
.h-100vh{
    height: 100vh;
}
.h-338{
    height: 338px;
}
.h-440{
    height: 440px;
}
.z-10{
    z-index: 10;
}
.swiper-button-prev{
    background: #939D2D;
  width: 96%;
  margin: auto;
  right: 0;
  left: 0;
  border-radius: 10px;
  height: 50px;
  bottom: auto;
  top: 695px;
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-prev::after {
    content: 'بعدی';
    font-size: 14px;
    font-weight: 600;
    color: white;
  }
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: auto;
  top: 649px;
  left: 0;
  width: 100%;
  }
  .swiper-pagination-bullet-active{
    background-color: #0D446B;
  }
  .swiper-button-prev.hidden {
    display: none;
}
.step{
    background-color: #0D446B;
    opacity: 20%;
}
.step.active{
    opacity: 100%;
}
/* success message */
.successMessage > div {
    opacity: 25%;
}
.successMessage > div.success {
  opacity: 100%;
}
@media only screen and (max-width:1400px) {
    
}

@media only screen and (max-width:1200px) {
  
}

@media only screen and (max-width:992px) {
   
}

@media only screen and (max-width:768px) {
  
}

@media only screen and (max-width:576px) {
   
}

@media only screen and (max-width:400px) {}